{% extends 'base/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Tickets</title>
</head>
<body>
<h1>View/Edit Tickets</h1>
{% for ticket in tickets %}
    <b>Name:</b> &nbsp {{ ticket.name}}<br><br>
    <b>Email:</b> &nbsp {{ ticket.email }}<br><br>
    <b>Phone No:</b> &nbsp {{ ticket.phone_no }}<br><br>
    <b>Issue Type:</b> &nbsp {{ ticket.issue_type }}<br><br>
    <b>Status:</b> &nbsp {{ ticket.status }}<br><br>
    <b>Date of Creation:</b> &nbsp {{ ticket.creation_date }}<br><br>
    <b>Date of Resolve:</b> &nbsp {{ ticket.closed_date }}<br><br>
    <b>Description:</b> &nbsp {{ ticket.description }}
{% endfor %}
<br><br>
<h2>Comments</h2>
<ul>
     {% for comment in all_comments %}
        <div>
            <li >
            <div>
                <h3>{{ comment.description}}</h3>
            </div>
            <div>
                <label>
                Created by:
                <p> {{ comment.agent }}&nbsp {{ comment.created_at }}</p>

                </label>
            </div>
            </li>
        </div>
     {% endfor %}
</ul>
<br>
<h3>Leave a comment here:</h3>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="save btn btn-default">Submit comment</button>
</form>

<br>
<form action="close_this_ticket" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-default" value="Resolve this ticket"></input>
</form>
</body>
</html>
{% endblock %}