{% load django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Tickets</title>
</head>
<body>
<h1>View/Edit Tickets</h1>
{% render_table ticket_id %}
<br>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="save btn btn-default">Submit Comment</button>
</form>

     {% for comment in all_comments %}
        <p>
            {{ comment.description }}
        </p>

     {% endfor %}

<br>
<form action="close_this_ticket" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-default" value="Resolve this ticket"></input>
</form>
</body>
</html>